.CourseMainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
 margin-top: 3%;

}

.coursediv {
  /* border: 1px solid black; */
  text-align: center;
  height: 380px;
  width: 350px;
  border-radius: 20px;
overflow: hidden;
box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.6);


  /* visibility: hidden; */

  margin-bottom: 30px;
}
.coursediv img {
  width: 350px;
  height: 200px;

}

.name {
  color: #1c1d1f;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1.6rem;
  /* display: -webkit-box !important; */
  -webkit-line-clamp: 2;
  
  font-weight: bold;

  max-width: 60rem;
}
.coursediv h3 {
  top: 0;
}

.buttonBuy {
  
    display: flex;
    margin:auto;
    
    width: 100px;
    justify-content: center;
    background-color: #ff9400;
  border:none;
  color:white;
  padding:10px;
  border-radius: 5px;
  cursor: pointer;
      
}
.buttonBuy:hover {
background-color:#d6bf39;
}

.CarouselDiv  img{
  height: 350px;
  margin: auto;
  width: 80%;
  padding: 0px 15px;
}
